@import 'variables';

.header {
  position: relative;

  @include breakpoint(tablet_768w) {
    overflow-y: hidden;
    min-height: 100vh;
  }

  .btn-lang {
    position: absolute;
    z-index: 1;
    left: 5vw;
    top: 2vw;

    @include breakpoint(tablet_768w) {
      top: 7vw;
    }

    button {
      font-size: 2.5rem;
      display: flex;
      align-items: center;
      font-weight: 600;
      background-color: transparent;
      border: none;
      color: #fff;
      fill: #fff;
      cursor: pointer;

      img {
        width: 40px;
        padding-right: 10px;
      }

      @include breakpoint(tablet_768w) {
        top: 10vh;
        font-size: 3rem;

        img {
          width: 50px;
        }
      }
    }
  }

  .head {
    position: absolute;
    left: 5vw;
    bottom: 5vw;
    z-index: 1;
    color: #fff;

    h1 {
      font-size: 2.5rem;

      @include breakpoint(tablet_768w) {
        font-size: 3.8rem;
      }
    }

    h2 {
      font-size: 2.3rem;
      font-weight: 200;

      @include breakpoint(tablet_768w) {
        font-size: 3.5rem;
        line-height: 4.5rem;
      }

      span {
        font-size: 1.5rem;
        font-weight: 400;
        animation: cursorBlink 0.8s infinite ease-in-out;

        @include breakpoint(tablet_768w) {
          font-size: 3.5rem;
        }
      }
    }
  }

  .bg-image {
    width: 100%;
    position: relative;

    @include breakpoint(tablet_768w) {
      height: 100vh;
      object-fit: cover;
    }
  }
}

@keyframes cursorBlink {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
