@import 'variables';

footer {
  padding: 20px 8vw;
  background-color: $bgc-dark;
  color: #fff;

  h1 {
    text-align: center;
    font-size: 1.5rem;

    @include breakpoint(tablet_768w) {
      font-size: 2rem;
    }
  }

  p {

    @include breakpoint(tablet_768w) {
      font-size: 1.5rem;
    }
  }
}
