<section class="skills">
  <h1 translate>Skills</h1>
  <div class="wrapper">
    <div class="skills-switch">
      <button (click)="switchSkills(spec)" *ngFor="let spec of mainSkills; let i = index"
        ngClass="{{i===currentIndex ? 'active' : ''}}">{{spec.spec | translate}}</button>
    </div>
    <div class="frontEnd" *ngIf="activeClass === 'frontEnd'">
      <ul>
        <li>
          <h2 translate>Experienced:</h2>
          <ul class="level">
            <li><img src="../../../assets/angularjs.jpg" alt="AngularJS"></li>
            <li><img src="../../../assets/TS.png" alt="TS"></li>
            <li><img src="../../../assets/js.png" alt="JS"></li>
            <li><img src="../../../assets/git.png" alt="GIT"></li>
            <li><img src="../../../assets/restApi580.png" alt="RestAPI"></li>
            <li><img src="../../../assets/sass.png" alt="SASS"></li>
            <li><img src="../../../assets/css.png" alt="CSS"></li>
            <li><img src="../../../assets/html.png" alt="HTML"></li>
          </ul>
        </li>
        <li>
          <h2 translate>Competent:</h2>
          <ul class="level">
            <li><img src="../../../assets/Angular.png" alt="Angular"></li>
            <li><img src="../../../assets/react.png" alt="React"></li>
            <li><img src="../../../assets/redux.png" alt="Redux"></li>
            <li><img src="../../../assets/Responsive_Web_Design.png" alt="RWD"></li>
          </ul>
        </li>
        <li>
          <h2 translate>Basics:</h2>
          <ul class="level">
            <li><img src="../../../assets/webpack.png" alt="Webpack"></li>
            <li><img src="../../../assets/bootstrap.png" alt="Bootstrap"></li>
            <li><img src="../../../assets/npm.png" alt="NPM"></li>
          </ul>
        </li>
        <li>
          <h2 translate>Slightly:</h2>
          <ul class="level">
            <li><img src="../../../assets/mongoDB.png" alt="MongoDB"></li>
            <li><img src="../../../assets/Mongoose.png" alt="Mongoose"></li>
            <li><img src="../../../assets/1280px-Nodejs.png" alt="NodeJS"></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="DTP" *ngIf="activeClass === 'DTP'">
      <ul>
        <li translate>perfect knowledge of<span> Illustrator,</span></li>
        <li translate>perfect knowledge of<span> Photoshop,</span></li>
        <li translate>very good knowledge of<span> InDesign,</span></li>
        <li translate>very good knowledge of<span> FrameMaker,</span></li>
        <li translate>very good knowledge of<span> Acrobat,</span></li>
        <li translate>very good knowledge of<span> MS Office,</span></li>
        <li translate>fluent knowledge of DTP principles,</li>
        <li translate>fluent knowledge of work environment on the Windows.</li>
      </ul>
    </div>
    <div class="softSkills" *ngIf="activeClass === 'softSkills'">
      <ul>
        <li translate>english at B2,</li>
        <li translate>communicative,</li>
        <li translate>critical thinking,</li>
        <li translate>problem solving,</li>
        <li translate>teamworking,</li>
        <li translate>leadership skills,</li>
        <li translate>ability to work under pressure and time.</li>
      </ul>
    </div>
  </div>
</section>