@import 'variables';

.skills {
  padding: $padding;
  color: $bgc-dark;
  min-height: 80vh;

  h1 {
    font-size: $main-header;
    text-align: center;
    padding-bottom: 15px;

    @include breakpoint(tablet_768w) {
      font-size: 4rem;
    }
  }

  .wrapper {

    .skills-switch {
      display: flex;
      justify-content: center;

      button {
        padding: 5px 15px;
        border-radius: 5px;
        width: 100px;
        font-size: 1.2rem;
        color: #fff;
        background-color: $bgc-dark;
        border: none;
        margin: 0 10px;
        cursor: pointer;
        transition: 0.2s;

        @include breakpoint(tablet_768w) {
          font-size: 2rem;
        }
      }

      button:hover {
        background-color: lighten($color: $bgc-dark, $amount: 20);
        box-shadow: 0 0 5px $bgc-dark;
      }

      .active {
        background-color: $header-color;
      }

      .active:hover {
        background-color: darken($color: $header-color, $amount: 5);
      }
    }

    div {
      padding-bottom: $padding-20;
    }

    h2 {
      font-size: $header-font-size;
      color: $header-color;
      padding-bottom: $header-padding;

      @include breakpoint(tablet_768w) {
        font-size: 2.3rem;
      }
    }

    li {
      font-size: $list-font-size;
      padding-left: $list-padding-left;
      padding-bottom: $list-padding-bot;

      @include breakpoint(tablet_768w) {
        font-size: 2rem;
      }

      span {
        @include breakpoint(tablet_768w) {
          font-size: 2rem;
        }
      }
    }

    .level {
      display: flex;
      flex-wrap: wrap;

      img {
        max-height: 40px;

        @include breakpoint(tablet_768w) {
          max-height: 60px;
        }

        @include breakpoint(desktop_1400w) {
          max-height: 80px;
        }
      }
    }
  }
}
