<div class="contact">
  <h1 translate>Contact</h1>
  <div class="wrapper">
    <div class="info">
      <fa-icon [icon]="faPhone" size="2x"></fa-icon>
      <div>
        <h2 translate>Phone number</h2>
        <p>507-044-502</p>
      </div>
    </div>
    <div class="info">
      <fa-icon [icon]="faEnvelope" size="2x"></fa-icon>
      <div>
        <h2>Email</h2>
        <p>amodzelewski91@gmail.com</p>
      </div>
    </div>
    <div class="info">
      <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
      <a href="https://www.linkedin.com/in/adam-modzelewski-16234b155/" target="_blank" translate>Linkedin profile</a>
    </div>
  </div>
</div>
<app-footer class="footer"></app-footer>
