<nav class="nav">
  <ul>
    <li (click)="scrollToSection(navRef.homeElementRef.nativeElement)"><a class="home" translate>Home</a></li>
    <li (click)="scrollToSection(navRef.skillsElementRef.nativeElement)"><a class="skills" translate>Skills</a></li>
    <li (click)="scrollToSection(navRef.expElementRef.nativeElement)"><a class="exp" translate>Experience</a></li>
    <li (click)="scrollToSection(navRef.projectsElementRef.nativeElement)"><a class="projects" translate>My Projects</a></li>
    <li (click)="scrollToSection(navRef.aboutElementRef.nativeElement)"><a class="about" translate>About me</a></li>
    <li (click)="scrollToSection(navRef.contactElementRef.nativeElement)"><a class="contact" translate>Contact</a></li>
  </ul>
</nav>