<nav class="nav">
  <ul>
    <li><a href="#" class="home" translate>Home</a></li>
    <li (click)="scroll(navScrolling.skillsElementRef.nativeElement)"><a class="skills" translate>Skills</a></li>
    <li (click)="scroll(navScrolling.expElementRef.nativeElement)"><a class="exp" translate>Experience</a></li>
    <li (click)="scroll(navScrolling.projectsElementRef.nativeElement)"><a class="exp" translate>My Projects</a></li>
    <li (click)="scroll(navScrolling.aboutElementRef.nativeElement)"><a class="me" translate>About me</a></li>
    <li (click)="scroll(navScrolling.contactElementRef.nativeElement)"><a class="me" translate>Contact</a></li>
  </ul>
</nav>