@use '../../../variables';

.about {
  padding: variables.$padding;
  color: #fff;
  
  h1{
    font-size: variables.$main-header;
    text-align: center;
    padding-bottom: 15px;
  }

  .wrapper{

    img{
      width: 100%;
    }

    div{
      padding-bottom: variables.$padding-20;
    }

    p{
      color: variables.$date-color;
      font-size: variables.$list-font-size;
    }    
  }
}