<section class="about">
  <h1 class="subheads">About me</h1>
  <div class="wrapper">
    <img src="../../../assets/IMG20210913133327.jpg" alt="moje zdjęcie">
    <p>My fascination with the front started over a year ago, where I started to learn HTML and CSS as a hobby. Over time, the hobby turned into a dream to change the industry to the front-end. Then I started to learn programming because HTML and CSS alone are not enough. At the beginning it was pure JS, and small JQuery elements. As I felt good in JS, I started to think about the framework. After a short research, I decided to choose React as the first one, which I don't regret, it's good to write in it. Every day I learn something new and develop my skills as a frontend. I think that I have reached the stage where I can look for my first job in this industry, because I would like to be able to deal with aspects related to the front on a daily basis, as well as continue to develop in this direction, not only in my free time.</p>
  </div>
</section>