<div class="projects">
  <h1 translate>My Projects</h1>
  <div class="wrapper">
    <div class="project" *ngFor="let project of myProjectsApi">
      <h2>{{ project.name }}</h2>
      <div class="languages-view">
        <div class="languages">
          <h3 translate>Languages:</h3>
          <ul>
            <li *ngFor="let lang of project.langs">{{ lang }}</li>
          </ul>
        </div>
        <div>
          <div class="img-frame">
            <img src="{{ project.images[currentIndexSlide] }}">
          </div>
          <div class="links">
            <a href="{{ project.github }}" [tooltip]="'Go to code'" translate>GitHub
              code</a>
            <a href="project.iframe">
              <fa-icon [tooltip]="'Go to Web'" [icon]="faGlobe" size="1x"></fa-icon>
            </a>
          </div>
        </div>
      </div>
      <p>{{ project.description_pl }}</p>
    </div>
  </div>
</div>