@use '../../../variables';

.projects {
  padding: variables.$padding;
  color: variables.$bgc-dark;

  h1 {
    font-size: variables.$main-header;
    text-align: center;
    padding-bottom: 15px;
  }

  .wrapper {

    .languages-view{
      padding-bottom: 0;
    }

    div {
      padding-bottom: variables.$padding-20;
    }

    h2 {
      font-size: variables.$header-font-size;
      color: variables.$header-color;
      padding-bottom: variables.$header-padding;
    }

    h3 {
      font-size: variables.$h3-font-size;
      color: variables.$bgc-dark;
      padding-bottom: variables.$header-padding;
    }

    p {
      color: variables.$bgc-dark;
      font-size: variables.$paragraph-font-size;
    }

    a {
      font-size: variables.$h3-font-size;
      text-decoration: none;      
    }

    li {
      font-size: variables.$list-font-size;
      padding-left: variables.$list-padding-left;
      padding-bottom: variables.$list-padding-bot;
      color: variables.$bgc-light-dark;
    }

    iframe {
      width: 100%;
      height: 35vh;
    }

    .links {
      padding-bottom: 0;      
      
      a:nth-last-child(1){
        color: green;
        padding-left: 5px;
        position: relative;

        fa-icon {
          position: absolute;
          top: 0;
        }
      }
    }    
  }
}