@import 'variables';

.experience {
  padding: $padding;
  color: #fff;
  background-color: $bgc-dark;

  @include breakpoint(tablet_768w) {
    min-height: 100vh;
  }


  h1 {
    font-size: $main-header;
    text-align: center;
    padding-bottom: 15px;

    @include breakpoint(tablet_768w) {
      font-size: 4rem;
    }
  }



  .wrapper {

    .exp-switch {
      display: flex;
      justify-content: center;

      button {
        padding: 5px 15px;
        border-radius: 5px;
        width: 100px;
        font-size: 1.2rem;
        color: #fff;
        background-color: $bgc-light-dark;
        border: none;
        margin: 0 10px;
        cursor: pointer;
        transition: 0.2s;

        @include breakpoint(tablet_768w) {
          font-size: 2rem;
        }
      }

      button:hover {
        background-color: lighten($color: $bgc-dark, $amount: 20);
        box-shadow: 0 0 5px $bgc-dark;
      }

      .active {
        background-color: $header-color;
      }

      .active:hover {
        background-color: darken($color: $header-color, $amount: 5);
      }
    }


    div {
      padding-bottom: $padding-20;
    }

    h2 {
      font-size: $header-font-size;
      color: $header-color;
      padding-bottom: $header-padding;

      @include breakpoint(tablet_768w) {
        font-size: 2.3rem;
      }
    }

    h3 {
      font-size: 2rem;
      color: rgb(206, 206, 206);
      padding: 0 0 10px 10px;
    }

    h4,
    span {
      color: $date-color;
      text-transform: uppercase;

      @include breakpoint(tablet_768w) {
        font-size: 1.5rem;
      }
    }

    p {
      font-size: 1.5rem;
      color: rgb(189, 189, 189);
      padding-left: 20px;

      @include breakpoint(tablet_768w) {
        font-size: 2.3rem;
      }
    }

    li {
      font-size: $list-font-size;
      padding-left: $list-padding-left;
      padding-bottom: $list-padding-bot;

      @include breakpoint(tablet_768w) {

        font-size: 2rem;
      }
    }
  }
}
