@use '../../../variables';

.experience {
  padding: variables.$padding;
  color: #fff;

  h1 {
    font-size: variables.$main-header;
    text-align: center;
    padding-bottom: 15px;

    @include variables.breakpoint(tablet_768w) {
      font-size: 4rem;
    }
  }

  .wrapper {

    div {
      padding-bottom: variables.$padding-20;
    }

    h2 {
      font-size: variables.$header-font-size;
      color: variables.$header-color;
      padding-bottom: variables.$header-padding;

      @include variables.breakpoint(tablet_768w) {
        font-size: 2.3rem;
      }
    }

    p,
    span {
      color: variables.$date-color;

      @include variables.breakpoint(tablet_768w) {
        font-size: 1.5rem;
      }
    }

    li {
      font-size: variables.$list-font-size;
      padding-left: variables.$list-padding-left;
      padding-bottom: variables.$list-padding-bot;

      @include variables.breakpoint(tablet_768w) {

        font-size: 2rem;
      }
    }
  }
}