<section id="exp" class="experience">
  <h1>Experience</h1>
  <div class="wrapper">
    <div class="inetum">
      <p>03/2022 - now</p>
      <h2>Intern FrontEnd Developer at Inetum</h2>
      <ul>
        <li>Preparation the file to find text errors such as: bad formatting, double space, no dots, breaking lines with
          shift-enter and etc.</li>
        <li>The post-production of the file, which includes some of the steps of preparing and checking that text is in
          proper place, has good seperators, quote marks or isn’t hiding in text frames.</li>
        <li>Making OCR files from none editable source into ID, AI, PS, Word, Power Point.</li>
        <li>Working on multi-language files (more than 40) including Arabic, Burmese, China etc.</li>
      </ul>
    </div>
    <div class="lion">
      <p>09/2019 - 02/2022</p>
      <h2>DTP Specialist at Lionbridge</h2>
      <ul>
        <li>Preparation the file to find text errors such as: bad formatting, double space, no dots, breaking lines with
          shift-enter and etc.</li>
        <li>The post-production of the file, which includes some of the steps of preparing and checking that text is in
          proper place, has good seperators, quote marks or isn’t hiding in text frames.</li>
        <li>Making OCR files from none editable source into ID, AI, PS, Word, Power Point.</li>
        <li>Working on multi-language files (more than 40) including Arabic, Burmese, China etc.</li>
      </ul>
    </div>
    <div class="designature">
      <p>09/2019 - 01/2019</p>
      <h2>DTP operator at Deisgnature</h2>
      <ul>
        <li>Multiply acepted projects on diffrent flavoures/grids.</li>
        <li>Visual and technical proces of image (Photoshop).</li>
        <li>Creating product visualizations (packshots, mockups).</li>
        <li>Working with customer product specycifation.</li>
        <li>Preparing print file with printhouse specyfication.</li>
      </ul>
    </div>
    <div class="mlekovitaSpec">
      <p>02/2017 - 07/2018</p>
      <h2>Marketing Specialist at SM Mlekovita</h2>
      <ul>
        <li>Creating graphic designs and preparing them for print.</li>
        <li>Coordinating the proces acceptation of soft-proofs and proofs.</li>
        <li>Coordinating the proces of implentation of change on mark products such as: Jeronimo and Lidl.</li>
        <li>Creating product visualizations (packshots, mockups).</li>
      </ul>
    </div>
    <div class="mlekovitaRef">
      <p>08/2015 - 02/2017</p>
      <h2>Marketing Referent - Graphic Designer at SM Mlekovita</h2>
      <ul>
        <li>Helping with documentation of projects.</li>
        <li>Implentation of change on existed products.</li>
        <li>Creating graphic designs.</li>
        <li>Making product photos for catalogs or leaflets.</li>
      </ul>
    </div>
  </div>
</section>