@mixin breakpoint($point) {
  @if ($point==ratio_long) {
    @media (min-aspect-ratio: 9/22) and (max-aspect-ratio: 9/16) {
      @content;
    }
  }

  @if $point==tablet_768w {
    @media (min-width: 768px) {
      @content;
    }
  }

  @if $point==tablet_1024w {
    @media (min-width: 1024px) {
      @content;
    }
  }

  @if $point==desktop_1400w {
    @media (min-width: 1400px) {
      @content;
    }
  }

  @if $point==desktop_2000w {
    @media (min-width: 2000px) {
      @content;
    }
  }
}

$header-color: orange;
$date-color: #ddd;

$padding: 5vw 8vw;

$bgc-light-dark: #444;
$bgc-dark: #222;

$main-header: 3rem;

$header-padding: 5px;
$header-font-size: 1.8rem;

$h3-font-size: 1.5rem;

$list-font-size: 1.3rem;
$list-padding-left: 1rem;
$list-padding-bot: 0.5rem;

$paragraph-font-size: 1.2rem;

$padding-20: 20px;