$header-color: orange;
$date-color: #ddd;

$padding: 5vw 8vw;

$bgc-light-dark: #444;
$bgc-dark: #222;

$main-header: 3rem;

$header-padding: 7px;
$header-font-size: 1.8rem;

$h3-font-size: 1.5rem;

$list-font-size: 1.3rem;
$list-padding-left: 1rem;
$list-padding-bot: 0.5rem;

$paragraph-font-size: 1.2rem;

$padding-20: 20px;